<div class="container-fluid">
    <div class="d-flex flex-row bd-highlight p-4 mb-3">
        <div class="p-2 col-8 bd-highlight">
          
            <div class="card">
              <div class="card-header text-center">
                Payment Page
              </div>              
                <ul class="list-group list-group-flush">
                    <div class="form-group">
                      <label for="deliveryAddress">Card Number</label>
                      <input type="number" class="form-control" id="address" aria-describedby="address">
                    </div>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="card product-card col-4 p-3">                          
                            <div class="card-body">
                              <div class="row align-items-center p-2">
                                <div class="col-6">
                                    <label for="deliveryAddress">CVV</label>
                                    <input type="number" class="form-control" id="cvv" aria-describedby="address">
                                </div>
                                <div class="col-6">
                                  <div class="row align-items-center">
                                        <label for="deliveryAddress">Password</label>
                                        <input type="number" class="form-control" id="Pass" aria-describedby="address">
                                    <div>                                      
                                    </div>                 
                                  </div>                      
                                </div>                  
                              </div>                                                            
                            </div>                                        
                        </div>
                  </div>                  
                  </li>                
                </ul>                       
              <div class="card-footer">
                <button  class="btn buy-btn float-right">Pay Now</button>
              </div>
            </div>
          
        </div>
    </div>
</div>