<div class="container my-5">
  <div class="card mb-5">
    <div class="card-header">
      <h2>Carousel</h2>
    </div>
    <div class="card-body">
      <form enctype="multipart/form-data" [formGroup]="carouselData" (ngSubmit)="prepareCarouselForm()">
        <div class="row align-items-center">
          <div class="col">
            <input type="text" class="form-control" formControlName="carouselName" placeholder="Carousel Image Name">
          </div>
          <div class="col">
            <input type="file" class="form-control-file selct-carousel" #selectCarousel value="choose carousel image" id="FormControlFile" (change)="carouselSelect($event)">
            <div class="carousel-drop" appDragImage (files)="carouselDrop($event)">
              <div class="drop-text">
                Drag & Drop or <a class="carousel-img-browse" (click)="selectCarousel.click()">Browse</a>
              </div>
            </div>
          </div>
          <div class="col">
            <mat-slide-toggle>Slide Toggle Checked: {{carouselActive}}</mat-slide-toggle>            
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Add Carousel</button>            
          </div>
          <div class="col" *ngIf="path">
            <img class="carousel-preview" [src]="path" alt="Carusel Image">
          </div>
        </div>
      </form>      
      <!-- <input type="file" multiple value="choose carousel" multiple="true" (change)="carouselSelect($event)"> -->
    </div>
  </div>
  
</div>