<div class="container-fluid footer-background">
    <div class="row p-3">
        <div class="col-8">
            <div class="d-flex flex-row footer-clr mb-3 p-3">
                <div class="col-3 p-2">
                    <div>About</div>
                    <p><a>Contact Us</a></p>
                    <p><a>About Us</a></p>
                </div>
                <div class="col-3 p-2">
                    <div>Help</div>
                    <p><a>Payment</a></p>
                    <p><a>Delivery</a></p>                    
                </div>
                <div class="col-3 p-2">
                    <div>Consumer Policy</div>
                    <p><a>Cancellation & Refund</a></p>
                    <p><a>Terms of Use</a></p>
                    <p><a>Privacy</a></p>
                </div>
                <div class="col-3 p-2">
                    <div>Social</div>
                    <p><a>Facebook</a></p>
                    <p><a>Instagram</a></p>
                    <p><a>Linkedin</a></p>
                </div>
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="d-flex flex-row footer-clr mb-3">
                <div class="col-6 p-2">Flex item 1</div>
                <div class="col-6 p-2">Flex item 2</div>
            </div>
        </div>
        <hr class="footer-clr">
        <div class="footer-clr">
            
        </div>   
    </div>
</div>
