<div class="container-fluid footer-background">
    <div class="row p-3">
        <div class="col-8">
            <div class="d-flex flex-row footer-clr p-3">
                <div class="col-3 p-2">
                    <div class="footer-heading pb-3">About</div>
                    <p><a>Contact Us</a></p>
                    <p><a>About Us</a></p>
                </div>
                <div class="col-3 p-2">
                    <div class="footer-heading pb-3">Help</div>
                    <p><a>Payment</a></p>
                    <p><a>Delivery</a></p>                    
                </div>
                <div class="col-3 p-2">
                    <div class="footer-heading pb-3">Consumer Policy</div>
                    <p><a>Cancellation & Refund</a></p>
                    <p><a>Terms of Use</a></p>
                    <p><a>Privacy</a></p>
                </div>
                <div class="col-3 p-2">
                    <div class="footer-heading pb-3">Social</div>
                    <p><a>Facebook</a></p>
                    <p><a>Instagram</a></p>
                    <p><a>Linkedin</a></p>
                </div>
            </div>
        </div>
        <div class="col-4 p-3">
            <div class="d-flex flex-row footer-clr mb-3">
                <div class="col-6 p-2">
                    <div class="footer-heading pb-3">Flex item 1</div>
                </div>
                <div class="col-6 p-2">
                    <div class="footer-heading pb-3">Flex item 2</div>
                </div>
            </div>
        </div>           
    </div>
    <hr class="line-style">
    <div class="row footer-clr">
        <div class="col">
            <p><i class="fa fa-light fa-copyright" aria-hidden="true"></i> 2007-2023 Vyanjan.com</p>
        </div>
    </div>
</div>
