.footer-background{
    background-color: #172337;
}
.footer-clr{
    color: #fff;
    font-weight: 200;
}
.footer-heading{
    color: #e6ddddcc;
}
.line-style{
    border: 1px solid #fff;
}
.footer-clr p a:hover{
    cursor: pointer;
    text-decoration: underline;
}